.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  --header-height: 64px;
  --common-side-padding: 48px;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding: 0 var(--common-side-padding);
}

.userImage {
  border-radius: 100%;
}

.main {
  flex: 1;
  padding: 0 72px;
  margin-top: var(--header-height);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding: 0 var(--common-side-padding);
}

.footerLinks {
  display: flex;
  gap: 16px;
}
