.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  --common-layout-header-height: 64px;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--common-layout-header-height);
  padding: 0 var(--theme-side-padding-on-pages);
}

.userImage {
  border-radius: 100%;
}

.main {
  flex: 1;
  padding: 0 var(--theme-space-128);
  margin-top: var(--common-layout-header-height);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--common-layout-header-height);
  padding: 0 var(--theme-side-padding-on-pages);
}

.footerLinks {
  display: flex;
  gap: var(--theme-space-16);
}
